<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>arfedora.blogspot.com</vendor>
  <vendor_url>https://arfedora.blogspot.com</vendor_url>
  <icon_name>preferences-system</icon_name>
  <action id="com.github.yucefsourani.arpynvidia.exec">
    <description>ArPyNvidia</description>
    <message>Install Nvidia Driver with ArPyNvidia requires authentication</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
